:root {
    --slate-green: hsl(75, 94%, 57%);
    --slate-white: hsl(0, 0%, 100%);
    --slate-grey-700: hsl(0, 0%, 20%);
    --slate-grey-800: hsl(0, 0%, 12%);
    --slate-grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html, body {
    height: 100%;
    background-color: var(--slate-grey-900);
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}

main {
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 500px;
    background-color: var(--slate-grey-800);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 16px;
}

.card-content-profile {
    height: 40%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.card-img-content {
    clip-path: circle(50%);
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.card-content-name {
    display: block;
    font-size: 25px;
    color: var(--slate-white);
    margin-top: 20px;
    font-weight: 300;
}

.card-content-loc {
    margin-top: 5px;
    color: var(--slate-green);
    font-weight: 600;
    font-size: 16px;
}

address {
    font-style: normal;
}

.card-content-summary {
    margin-top: 15px;
    color: var(--slate-white);
    font-size: 12px;
}

.card-content-socmed {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: var(--slate-grey-700);
    height: 35px;
    width: 85%;
    margin-top: 14px;
    border: 5px ;
    border-radius: 10px;
    color: var(--slate-white);
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: var(--slate-white);
    color: var(--slate-grey-900);
    transition: 0.3s;
}

footer {
    text-align: center;
    color: var(--slate-white);
}

a {
    color: var(--slate-green);
}